---
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<'a'> {
  url: string;
  title: string;
}
const {url, title} = Astro.props
---
<ul>
    <li>
        <a href={url}>{title}</a>
    </li>
</ul>